[Desktop Entry]
Type=Application
Exec=gnome-terminal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en]=Terminal
Name=Terminal
Comment[en]=
Comment=
